<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VK FriendsList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>555A088D1EE6978F0084FFCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>555A08A61EE697900084FFCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>555A08B11EE697900084FFCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
